---
layout: base.njk

pagination:
  data: collections.tagList
  size: 1
  alias: tag

permalink: "tags/{{ tag | slugify }}/"
---

<h1 class="tag-title">#{{ tag }}</h1>

<ul class="recipe-list">
  {% for recipe in collections[tag] %}
    <li>
      <a href="{{ recipe.url | url }}">{{ recipe.data.title }}</a>
    </li>
  {% endfor %}
</ul>