---
layout: base.njk
title: koshelev secrets
---

<p class="home-tagline">сайт лично проверенных рецептов Евгения Кошелева</p>

<h1 class="home-title">рецепты</h1>

<ul class="recipe-list">
  {% for secret in collections.secrets %}
    <li>
      <a href="{{ secret.url | url }}">{{ secret.data.title }}</a>
    </li>
  {% endfor %}
</ul>