---
layout: base.njk
title: Теги
permalink: "/tags/"
---

<h1 class="home-title">#{{title.toLowerCase()}}</h1>

<ul class="recipe-list">
  {% for tag in collections.tagList %}
    <li>
      <a href="{{ '/tags/' | url }}{{ tag | slugify }}/">#{{ tag }}</a>
    </li>
  {% endfor %}
</ul>

<p class="home-tagline">сайт лично проверенных рецептов Евгения Кошелева</p>